{% extends "base.html" %}
{% block content %}
  {% load static %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-4 text-center">
        <img src="{% static 'images/nobody.jpg' %}" width="75%">
      </div>
      <div class="col-8">
        <!-- Title goes between these h2 tags -->
        <h2>{{ about_detail.title }}</h2>
        <!-- Content goes directly underneath this -->
        {{ about_detail.content | safe }}
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <!-- Updated on field goes in here -->
        <p class="text-end">
          <em>Updated on:</em>
          <em>{{ about_detail.updated_on | date:"N j, Y, g:i a" }}</em>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
